
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
/* start editing from here */
a{text-decoration:none;}
.clear{clear:both;}/* clear float */
/*end reset*/
/****-----start-body----****/
body{
	background:url(../images/bg.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	background-position: center;
 	background-size: 100% 100%;
}
.main{
	margin:7em auto 0;
	width:48%;
}

.main h2,.main h3{
	font-size: 1em;
	text-align: center;
	color:#fff;
	padding:1em 0;
}

.lable, .lable-2 {
	color: snow;
	font-size: 20px;
	font-weight: 700;
}

.lable input[type="text"] ,.lable-2 input[type="Password"],input[type="Password"]{
	padding: 15px;
	width: 94%;
	font-size: 0.8em;
	margin: 18px 0px;
	color: #666666;
	cursor: pointer;
	outline: none;
	font-weight: 600;
	margin-left: 3px;
	background: #FFFFFF;
	-webkit-transition: all 1.0s ease-out;
	-moz-transition: all 1.0s ease-out;
	-ms-transition: all 1.0s ease-out;
	-o-transition: all 1.0s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}
.lable input[type="text"]:hover,.lable-2 input[type="Password"]:hover,input[type="Password"]:hover,#active {
	color:#1d5e47;
	border-left:6px solid #40A46F;
}

/**start-submit-button**/
.submit{
	padding:5px 4px;
	text-align: center;
}
input[type=submit] {
	padding: 17px 30px;
	color: #fff;
	background: #1d5e47;
	border: 1px solid #1d5e47;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 80%;
}

.submit input[type=submit]:hover {
	 background:#07793D;
	 border:1px solid #07793D;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
}
.copy-right p a {
	font-size:1em;
	font-weight:600;
	color:blue;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
/*----start-responsive design-----*/
@media (max-width:860px){
	.main{
		width:90%;
		margin: 6em auto 0;
	}
	.main h2, .main h3 {
		padding: 0.5em 0;
		font-size: 1em;
	}
	.lable input[type="text"]:first-child {
	width: 92%;
	}
	.lable input[type="text"],.lable input[type="text"] {
		width:92%;
		font-size: 1em;
		text-align: left;
		margin: 10px 0px;
		margin-left:0;
	}
	.lable-2 input[type="text"], .lable-2 input[type="Password"],input[type="Password"] {
		width: 92.3%;
		font-size: 1em;
		margin: 10px 0px;
		text-align: left;
	}
	input[type=submit] {
		padding: 15px 15px;
		font-size: 1em;
		color: #fff;
		text-align:center;
		width: 100%;
	}
	.main h3 {
		text-align: center;
	}
}

